version: "3.7"
services:
  app:
    build: .
    command: bundle exec jekyll serve --host 0.0.0.0 --port 4000 --baseurl ''
    ports:
      - "4000:4000"
    volumes:
      - .:/app
      - bundle:/usr/local/bundle

volumes:
  bundle:
    driver: local
