version: 2.1

executors:
  ruby:
    docker:
      - image: circleci/ruby:2.6.3

jobs:
  build:
    executor:
      - name: ruby
    steps:
      - checkout
      - restore_cache:
          key: yulii-github-io-{{ checksum "Gemfile.lock" }}
      - run:
          name: Install dependencies
          command: bundle install --path vendor/bundle --jobs=4
      - save_cache:
          key: yulii-github-io-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Build jekyll templates
          command: bundle exec jekyll build

  update:
    executor:
      - name: ruby
    steps:
      - run:
          name: Checkout code
          command: git clone -b master --depth 1 https://${FORK_REPO_TOKEN}@github.com/yulii-bot/yulii.github.io.git .
      - run:
          name: Syncing fork
          command: |
            git remote add upstream https://github.com/yulii/yulii.github.io.git
            git fetch upstream
            git checkout master
            git merge upstream/master
      - run:
          name: Update dependencies
          command: bundle update
      - run:
          name: Commit auto update file
          command: |
            test -z "$(git status -s Gemfile.lock 2> /dev/null)" && echo 'No update.' && exit 0
            BRANCH="bundle-update-$(sha1sum Gemfile.lock | cut -d' ' -f1)"
            test -n "$(git ls-remote origin ${BRANCH} 2> /dev/null)" && echo 'Already committed.' && exit 0
            git config --local user.email 'yuliinfo+bot@gmail.com'
            git config --local user.name 'yulii-bot'
            git add Gemfile.lock
            git commit -m 'Bundle update'
            git branch -M ${BRANCH}
            git push origin ${BRANCH}
      - run:
          name: Send auto update pull request
          command: |
            BRANCH="bundle-update-$(sha1sum Gemfile.lock | cut -d' ' -f1)"
            test -z "$(git ls-remote origin ${BRANCH} 2> /dev/null)" && echo "Update branch not found." && exit 0
            git fetch origin ${BRANCH}
            test -z "$(git diff upstream/master...FETCH_HEAD)" && echo "No changes." && exit 0
            curl -H "Authorization: token ${FORK_REPO_TOKEN}" \
                 -X POST -H "Content-Type: application/json" \
                 -d "{ \"title\": \"Bundle update\", \"body\": \"Auto update pull request!\", \"head\": \"yulii-bot:${BRANCH}\", \"base\": \"master\" }" \
                 "https://api.github.com/repos/yulii/yulii.github.io/pulls" \
                 | tee /tmp/create-pull-request.log.json
            test -n "$(cat /tmp/create-pull-request.log.json | jq -r 'select(.errors == null)')"

workflows:
  build_and_update:
    jobs:
      - build
      - update:
          requires:
            - build
          filters:
            branches:
              only: master
