<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        {% include profile.html %}
      </div>
      <div class="footer-col footer-col-3">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
    <ul class="footer-link">
      <li><a href="/policy.html">サイトポリシー</a></li>
    </ul>
    <p class="footer-copyright">
      <i class="fa fa-copyright"></i>&nbsp;{{ site.copyright }}
    </p>
  </div>
</footer>
