<ol class="pagination">
{% if paginator.previous_page %}
  <li><a href="{{ paginator.previous_page_path }}">Previous</a></li>
  <li><a href="{{ paginator.previous_page_path }}">{{ paginator.previous_page }}</a></li>
{% endif %}
  <li><span>{{ paginator.page }}</span></li>
{% if paginator.next_page %}
  <li><a href="{{ paginator.next_page_path }}">{{ paginator.next_page }}</a></li>
  <li><a href="{{ paginator.next_page_path }}">Next</a></li>
{% endif %}
</ol>
<p class="muted">Page: {{ paginator.page }} of {{ paginator.total_pages }}</p>
