<article class="profile">
  <img src="{{ site.baseurl }}/img/site/yulii.jpg" width="100" height="100" class="profile--photo" />
  <section class="profile-summary">
    <h3>yulii</h3>
    <ul class="profile--social">
      <li><a href="https://github.com/yulii" rel="nofollow"><i class="fa fa-github fa-2x"></i></a></li>
      <li><a href="https://twitter.com/yulii" rel="nofollow"><i class="fa fa-twitter fa-2x"></i></a></li>
      <li><a href="https://www.facebook.com/ryo.yoneyama" rel="nofollow"><i class="fa fa-facebook-official fa-2x"></i></a></li>
    </ul>
  </section>
</article>
