<article class="profile">
  <a href="/resume.html">
    <img src="{{ site.author_img_path }}" alt="yulii" width="100" height="100" class="profile--photo" />
  </a>
  <h3><a href="/resume.html">Ryo Yoneyama</a></h3>
  <ul class="profile--social">
    <li><a href="https://github.com/yulii" rel="nofollow"><i class="fab fa-github-square"></i></a></li>
    <li><a href="https://twitter.com/yulii" rel="nofollow"><i class="fab fa-twitter-square"></i></a></li>
    <li><a href="https://www.facebook.com/ryo.yoneyama" rel="nofollow"><i class="fab fa-facebook-square"></i></a></li>
  </ul>
</article>
