.markdown {
  margin-bottom: $spacing-unit;

  h2 {
    margin-left: -16px;
    padding-left: 16px;
    border-left: 6px solid #424242;
  }

  h3 {
    padding-top: $spacing-unit / 4;
    border-top: 1px dashed $border-color-grey;
  }

  ul {
    margin-left: 0;
    margin-bottom: 1em;
    padding-left: 1.5em;
    list-style: circle;
  }

  li > ul {
    margin-bottom: 0;
  }

  table {
    border-bottom: 2px solid $border-color-dark;
    line-height: 1.4;
  }

  th {
    padding: $spacing-unit / 8 $spacing-unit / 4 $spacing-unit / 8 $spacing-unit / 4;
    border-top:    2px solid $border-color-dark;
    border-bottom: 2px solid $border-color-dark;
  }

  td {
    padding: $spacing-unit / 4;
    vertical-align: top;
  }

  pre {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    background-color: #f8f8f8;
    border: 1px solid $border-color-grey;
    overflow: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    code {
      padding: 0;
      border: none;
    }
  }

  code {
    padding-left: $spacing-unit / 6;
    padding-right: $spacing-unit / 6;
    background-color: #f8f8f8;
    border: 1px solid $border-color-grey;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}

