.pagination {
  font-size: 0.8em;

  li {
    display: inline-block;
    margin-right: 0.5em;
  }

  span {
    @extend %circle-box;
    display: block;
    border: 1px solid #e8e8e8;
  }

  a {
    @extend %circle-box;
    display: block;
    color: #333;
    text-decoration: none;
    border: 1px solid #e8e8e8;
    background-color: #f8f8f8;

    &:hover {
      color: #59b1eb;
      border: 1px solid #59b1eb;
      background-color: #f8f8ff;
    }
  }
}
