.profile {
  @extend %clearfix;
}
.profile--photo {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  @extend %photo-box;
}

.profile--summary {
  overflow: hidden;
  display: block;
}

.profile--social {
  margin: 0;

  li {
    display: inline-block;
  }

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      color: #59b1eb;
    }
  }
}
