<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage":{
    "@type": "WebPage",
    "@id": "{{ page.url | prepend: site.url }}"
  },
  "headline": "{{ page.title | escape }}",
  "image": {
    "@type": "ImageObject",
    "url": "{{ site.cover_img_path | prepend: site.url }}",
    "width": 800,
    "height": 450
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified":  "{{ page.date | date_to_xmlschema }}",
  "articleBody": "{{ page.content | strip_newlines | strip_html | replace: ' :', ' : ' | escape }}",
  "url": "{{ page.url | prepend: site.url }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.author_img_path | prepend: site.url }}",
      "width": 60,
      "height": 60
    }
  },
  "author": {
    "@type": "Person",
    "name": "{{ site.author }}"
  }
}
</script>
