<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ site.url }}",
      "name": "yulii.github.io"
    }
  {% if page.category %}
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ site.url }}/{{ page.category }}.html",
      "name": "{{ site.data.categories[page.category].face | escape }}"
    }
  {% endif %}
  },{
    "@type": "ListItem",
    "position": {% if page.category %}3{% else %}2{% endif %},
    "item": {
      "@id": "{{ page.url | prepend: site.url }}",
      "name": "{{ page.title | escape }}"
    }
  }]
}
</script>
