---
layout: default
---
{% assign meta  = site.data.meta[page.category] %}
{% assign posts = site.categories[page.category] %}

<section>
  <h1><i class="fa fa-folder"></i><span>{{ meta.face }}</span></h1>
  {% if meta.description %}
  <p>{{ meta.description }}</p>
  {% endif %}
  <p>{{ site.categories[page.category] | size }}&nbsp;<span class="muted">記事</span></p>
</section>

{% if posts %}
  {% for post in posts %}
  {% include cassette.html post=post %}
  {% endfor %}
{% else %}
<p>There are no posts for this tag.</p>
{% endif %}
