<!DOCTYPE html>
<html lang="ja">
{% include head.html %}
<body>
{% include plugins/tracking.html %}
{% include header.html %}
<div class="wrapper">
  {{ content }}
</div>
{% if page.breadcrumb %}
  <section class="wrapper">
    {% include breadcrumb/{{ page.breadcrumb }}.html %}
  </section>
{% endif %}
{% include footer.html %}
{% if page.schema %}
  {% for name in page.schema %}
    {% include schema/{{ name }}.json-ld.html %}
  {% endfor %}
{% endif %}
<link rel="stylesheet" property="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</body>
</html>
