---
layout: default
---
<nav class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
  <a href="https://yulii.net/" itemprop="url"><span itemprop="title">yulii.net</span></a>
  {{ page.category }}
&nbsp;/&nbsp;<div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="http://yulii.net/entries" itemprop="url"><span itemprop="title">最新記事一覧</span></a>&nbsp;/&nbsp;<div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="http://yulii.net/tags/3" itemprop="url"><span itemprop="title">プログラミング</span></a>&nbsp;/&nbsp;<div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="http://yulii.net/tags/13" itemprop="url"><span itemprop="title">JavaScript</span></a>&nbsp;/&nbsp;<div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="http://yulii.net/tags/14" itemprop="url"><span itemprop="title">Node.js</span></a></div></div></div></div></nav>

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}

    <nav>
    {% for category in  page.categories %}
    {{ forloop.index }}. 投稿記事カテゴリー  {{ category }}
    {% endfor %}
  </article>

</div>
