---
layout: default
breadcrumb: category
---
<article class="content">
  <header>
    <h1 class="content--title">{{ page.title }}</h1>
    <p><time class="muted" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time></p>
  </header>

  <section class="markdown">
    {{ content }}
  </section>

  <footer>
    {% assign url = page.url | prepend: site.url %}
    {% include plugins/share-buttons.html url=url %}

    {% include tags.html tags=page.tags %}
  </footer>
</article>
