---
layout: default
breadcrumb: category
schema:
  - blog-posting
  - breadcrumb
---
<article class="content">
  <header>
    <h1>{{ page.title }}</h1>
    <p><time class="muted" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    {% if page.image %}
    <img src="/img/posts/{{ page.date | date: '%Y/%Y-%m-%d' }}-kv-800x450.png" class="photo-box">
    {% endif %}
  </header>

  <section class="markdown">
    {{ content }}
  </section>

  <footer>
    {% assign url = page.url | prepend: site.url %}
    {% include plugins/share-buttons.html url=url %}

    {% include tags.html tags=page.tags %}
  </footer>
</article>
