---
layout: default
---
{% assign meta  = site.data.tags[page.tag] %}
{% assign posts = site.tags[page.tag] %}

<section>
  <h1><i class="fas fa-tag"></i><span>{{ meta.face }}</span></h1>
  {% if meta.description %}
  <p>{{ meta.description }}</p>
  {% endif %}
  <p>{{ posts | size }}&nbsp;<span class="muted">記事</span></p>
</section>
{% if posts %}
  {% for post in posts %}
    <article>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="muted">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%b %-d, %Y" }}
        </time>
        {% if post.category %}
        <span>
          Related:
          <a href="/{{ post.category }}.html">{{ site.data.categories[post.category].face }}</a>
        </span>
        {% endif %}
      </p>
    </article>
  {% endfor %}
{% else %}
  <p>There are no posts for this tag.</p>
{% endif %}
